* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #1f2937;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 900;
  font-family: "Roboto";
}

.header-buttons {
  color: #e5e7eb;
  font-size: 18px;
  font-family: "Roboto";
}

ul {
  list-style: none;
  display: flex;
  gap: 24px;
}

.about {
  background-color: #1f2937;

  padding: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-text {
  width: 420px;
}

.about-text h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  font-family: "Roboto";
  line-height: 45px;
  margin-bottom: 10px;
}

.about-text p {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 10px;
}

.about-image {
  height: 200px;
  width: 500px;
  background-color: gray;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #3882f6;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: "Roboto";
  font-weight: 700;
  color: white;
}

.showcase {
  display: flex;
  flex-direction: column;
  align-items: center;


}

.showcase-title {
  text-align: center;
  margin: 40px;
}

.item-border {
  height: 130px;
  width: 130px;
  border: solid 2px blue;
  border-radius: 5px;
}

.showcase-images {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 72px;

}

.item p {
  width: 130px;
  text-align: center;
}

.quote {
  background-color: #e5e7eb;
  padding: 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.quote-body {
  font-size: 36px;
  font-style: italic;
  font-weight: 200;
  font-family: "Roboto";
}

.quote-name {
  font-weight: bold;
  font-size: 18px;
}

.sign-in {
  background-color: #3882f6;
  display: flex;
  justify-content:space-around;
  padding: 50px;
  margin: 90px;
  color: white;
}



.sign-in-button {
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  padding: 2px 18px;

}

.footer {
  background-color: #1f2937;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
}
